@import "font.css";
@import url("font.css"); 

body, html{
  margin:0px 0px 0px 0px ;
  padding:0px 0px, 0px, 0px;
  max-width: 100%;
}

.contact-page { 
  display: flex; 
  flex-direction: column;
}

/** app header **/
.app-header { 
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px; 
  position: fixed;  
  background-color: #b98966; 
}


.settings-img { 
  width: 50px; 
  margin: 15px; 
  flex: 0 1; 
}

.app-header-right { 
  width: 50px; 
}

.app-header-title{ 
  font-family: RobotoRegular; 
  font-size: 35px; 
  text-align: center;
  color: #f0f4f7; 
  flex: 1;  
}


/** contacts section **/ 
.contact-list { 
  margin-top: 100px; 
}

.indiv-contact { 
  display: flex; 
  align-items: center;
  box-sizing: border-box;
  padding: 10px; 
  margin: 15px; 
  height: 150px; 
  
  border-width: 0px;
  border-bottom: 2px solid #b7bbc3;  
  border-top: 2px; 
}

.dp { 
  width: 80px; 
  margin: 0 20px; 
}

.contact-username { 
  font-family: RobotoRegular; 
  font-size: 30px; 
  color: #1b1921;  
  text-align: center;
  flex: 1; 
}

.notification-badge, .empty-notification-badge { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px; 
  margin: 0 20px; 
}

.notification-badge { 
  border-radius: 50%;
  background-color: #e7c88c;  
}

.notification-badge-number { 
  font-size: 20px; 
}

/** new chat footer **/ 
.new-chat-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100%-20px); 
  height: 150px;  
  position: fixed;

  padding: 20px; 
  border-radius: 20px 20px;
  bottom: 0px; 
  background-color: #e7c88c; 
  border: 10px solid #ccd1dc;  
  border-top: 0px; 
}

.new-chat { 
  font-family: RobotoRegular; 
  color: #1b1921;  
  font-size: 63px; 
  color: #f0f4f7; 
}

.new-chat-img { 
  width: 80px; 
  margin: 15px; 
}